<header class="header">
	<div class="center-holder header-holder">
		<div class="logo">
			<a href="#">
				<img src="images/logo.svg" alt="My Figura">
			</a>
		</div>
		<div class="menu-opener"><span></span></div>
		<div class="nav-holder">
			<nav class="nav">
				<ul>
					<li>
						<a href="#"><span>About us</span></a>
						<ul class="drop">
							<li><a href="#">Item 1</a></li>
							<li><a href="#">Item 2</a></li>
							<li><a href="#">Item 3</a></li>
						</ul>
					</li>
					<li><a href="#"><span>Faq</span></a></li>
					<li><a href="#"><span>Blog</span></a></li>
					<li>
						<a href="#"><span>Resources</span></a>
						<ul class="drop">
							<li><a href="#">Item 1</a></li>
							<li><a href="#">Item 2</a></li>
							<li><a href="#">Item 3</a></li>
						</ul>
					</li>
					<li><a href="#"><span>Contact</span></a></li>
					<li><a href="#" class="btn small">Apply</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>